{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Enigma | The online treasure hunt| EXCELSIOR'19 | GEC Palakkad ">
  <meta name="author" content="Biswas, Rakshith">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-131908773-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-131908773-2');
  </script>

  <title>Enigma - Online Treasure Hunt</title>

  <!-- Bootstrap Core CSS
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  -->

  <!-- Theme CSS -->
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'css/grayscale.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/home.css' %}" rel="stylesheet" type="text/css">

<!-- Custom Fonts -->

<link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">


</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

  <!-- Navigation -->
  <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
          Menu <i class="fa fa-bars"></i>
        </button>
        <!--
        <a class="navbar-brand" href="http://inventogec.in">
          <i class="fa fa-play-circle"></i> <span class="light">INVENTO</span> 17
        </a>
      -->
      </div>

      <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
        <ul class="nav navbar-nav">
          <li>
            <a class="page-scroll" href="#about">RULES</a>
          </li>
          <li>
            <a class="page-scroll" href="/leaderboard">Leaderboard</a>
          </li>
          <li>
            <a class="page-scroll" href="#contact">CONTACT</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header class="intro">
    <div class="intro-body">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
          <!--   <img src="/static/images/enex.png" class="img-responsive">
         <small class="text-muted">β</small></h1> -->

              <!--<a href="#about" class="btn btn-circle page-scroll">
                <i class="fa fa-angle-double-down animated"></i>
              </a>-->
              <br>
              Current Match
              <br>
              {{ cm.round }}
              <br>
              Match Number: {{ cm.match_num }}
              <br>
              {{ cm.t1 }} VS {{ cm.t2 }}
              <br>
              {{ cm.t1_score }} - {{ cm.t2_score }}
              <br><br><br>

              Next Match
              <br>
              {{ nm.round }}
              <br>
              Match Number: {{ nm.match_num }}
              <br>
              {{ nm.t1 }} VS {{ nm.t2 }}
              <br>
              {{ nm.t1_score }} - {{ nm.t2_score }}
              <br>
              <br>

<button class="btn btn-primary" onclick="location.reload();">Refresh Page</button>

            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- About Section -->

    <section id="about" class="container content-section text-center">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <!--<h2>Rules and Regulations</h2>
          <p>
            <!--
            ❇️ Only students will be given prizes. You can be from anywhere from India.
            ❇️️ Winners should go through verification to claim their prizes.<br>
            ❇️️ The ranking will be based on who finishes the most questions, in minimum time.<br>
            ❇️️ Answer should be in full forms. The answer format is no spaces, all lower case and no special characters. <br>
              Eg: Invento '17 should be answered as invento17, 1000.10 is 1000.10 itself<br>
            ❇️️ Hints will be provided from time to time on the question page itself.<br>
            ❇️️ The clock will start ticking when your account is created. This time will be taken into account in the
            leaderboard  <br>
            ❇️️ Prizes worth 5K including mobile recharges<br>
            ❇️️ The team deserves all rights to take necessary action for the smooth conduction of the event.<br>
            ❇️️ Google is your best friend. Yo Boolean!<br>
            ❇️️ Let the source be with you.<br>
            ❇️️ Dear hackers, we ban like hell :)<br>

            ❇️ Only students will be given prizes. You can be from anywhere from India.<br>
            ❇️ This event is held in association with <a href="https://excelsiorgec.me">EXCELSIOR'19</a><br>
            ❇️ Winners will get EXCELSIOR'19 tickets and exclusive goodies. <br>
            ❇️ Winners should go through verification to claim their prizes.<br>
            ❇️ The ranking will be based on who finishes the most questions, in minimum time.<br>
            ❇️ Answer should be in full forms. Format includes no spaces, all lower case and no special characters.<br>
              Eg : EXCELSIOR'19 should be answered excelsior19<br>
            ❇️ Hints will be provided from time to time on the question page itself.<br>
            ❇️ Clock starts ticking once your account is created. This time will be taken into account in the leaderboard.<br>
            ❇️ The team deserves all rights to take necessary actions for smooth conduction of event.<br>
            ❇️ Google is your best friend. Yo Boolean!<br>
            ❇️ Dear hackers, we ban like hell :)<br>

          </p>
        -->
        </div>
      </div>
    </section>


    <!-- LOGIN Section -->





    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2"><!--
          <h2>Contact us</h2>
          <p>Feel free to contact us.
            Message us on WhatsApp or call at <br>
            Rejul: 8943452113
            Vishnu : 9809787552 </p>


            <ul class="list-inline banner-social-buttons" >
              <li>
                <a href="https://www.facebook.com/ieeesbgecpkd" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
              </li>
            </ul>-->
          </div>
        </div>
      </section>



      <!-- Footer -->
      <footer>
        <div class="container text-center">
          <p>Copyright &copy; INVENTO'19, 2019
          <br>
          Made with 💙 by <a href="https://www.linkedin.com/in/rejuls/">Rejul S</a></p>
        </div>
      </footer>

      <!-- jQuery -->
      <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>

      <!-- Bootstrap Core JavaScript -->
      <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>

      <!-- Plugin JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js" type="text/javascript"></script>

      <!-- Theme JavaScript -->
      <script src="{% static 'js/grayscale.js' %}"></script>
    </body>

    </html>
